.tarjetas {
    margin-top: 30px;
}

.card {
    height: auto;
    width: 90vw;
    margin: 15px auto;
    text-align: center;

    border-radius: 10px;
}

.card:nth-child(1) {
    background-color: greenyellow;
}

.card:nth-child(2){
    background-color: aqua;
}

.card-body {
    color: #fff;
}

.card-title {
    font-size: 1.6rem;
    font-weight: bold;
    font-style: oblique;
}

.card-text {
    font-size: 1.3rem;
}


@media(min-width: 769px){

    .tarjetas {
        display: flex;
        justify-content: space-between;
    }

    .card {
        width: 30vw;
        height: 300px;
    }

    .card:nth-child(1){
        position: absolute;
        top: 590px;
        left: 120px;
    }

    .card:nth-child(2){
        position: absolute;
        top: 590px;
        right: 120px;
    }
}