.titulo-sede {
    margin: 20px;
    padding: 5px;

    text-align: center;
    font-weight: 600;
}

hr {
    width: 80vw;
    margin-left: 25px;
    color: darkblue;
}

.sede-info img {
    height: 80vh;
    width: 80vw;

    margin: 15px 50px 15px 50px;
}

.sede-info .sede-text {
    margin: 20px;
}

@media(min-width: 769px) {
    .titulo-sede {
        margin-top: 200px;
    }

    .sede-info img {
        height: 85vh;
        width: 85vw;

        margin: 20px 80px 20px 100px;
    }

    .sede-info .sede-text {
        margin-bottom: 50px;

        font-size: 1.8rem;

        text-align: center;
    }
}