/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/app.css ***!
  \*********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Almarai&family=IBM+Plex+Sans&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;1,500&family=Roboto:wght@700&family=Teko:wght@300&display=swap);
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/app.css (1) ***!
  \*************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}
/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/header.css ***!
  \************************************************************************************************************************/
.header {
  width: 100vw;
  height: 12.3vh;
}

.navbar {
  width: 100vw;
  background-image: linear-gradient(217deg, rgba(50, 230, 250, 0.8), rgba(19, 172, 189, 0) 70.71%), linear-gradient(127deg, rgba(110, 236, 250, 0.8), rgba(142, 235, 245, 0) 70.71%), linear-gradient(336deg, rgba(23, 145, 159, 0.8), rgba(7, 96, 106, 0) 70.71%);
}

#navbarNav {
  padding-top: 15px;
}

.dropdown-menu {
  background-image: linear-gradient(127deg, rgba(110, 236, 250, 0.8), rgba(142, 235, 245, 0) 70.71%), linear-gradient(336deg, rgba(23, 145, 159, 0.8), rgba(7, 96, 106, 0) 70.71%);
}

.nav-link:hover {
  background-color: aliceblue;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .header {
    height: 10.5vh;
  }
  .container-fluid {
    display: flex;
  }
  #navbarNav {
    font-size: 1.3rem;
    justify-content: end;
    margin-right: 50px;
  }
  .nav-item {
    margin-left: 50px;
  }
  .dropdown-menu {
    border-radius: 10px;
    font-size: 1.1rem;
  }
  .dropdown-item:hover {
    border-radius: 10px;
  }
}
