/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/app.css ***!
  \*********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Almarai&family=IBM+Plex+Sans&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;1,500&family=Roboto:wght@700&family=Teko:wght@300&display=swap);
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/inscripciones.css ***!
  \*******************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Almarai&family=IBM+Plex+Sans&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;1,500&family=Roboto+Slab:wght@200&family=Roboto:wght@700&family=Teko:wght@300&display=swap);
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/app.css (1) ***!
  \*************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}
/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/slider.css ***!
  \************************************************************************************************************************/
.carousel {
  z-index: -1;
}

img {
  max-height: 300px;
}

h5 {
  font-size: 2rem;
}

@media (min-width: 769px) {
  img {
    max-height: 550px;
  }
}
/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/card.css ***!
  \**********************************************************************************************************************/
.tarjetas {
  margin-top: 30px;
}

.tarjetas .card {
  height: auto;
  width: 90vw;
  margin: 15px auto;
  text-align: center;
  border-radius: 10px;
}

.tarjetas .card:nth-child(1) {
  background-color: greenyellow;
}

.tarjetas .card:nth-child(2) {
  background-color: aqua;
}

.tarjetas .card-body {
  color: #fff;
}

.tarjetas .card-title {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: oblique;
}

.tarjetas .card-text {
  font-size: 1.3rem;
}

@media (min-width: 769px) {
  .tarjetas {
    display: flex;
    justify-content: space-between;
  }
  .tarjetas .card {
    width: 30vw;
    height: 300px;
  }
  .tarjetas .card:nth-child(1) {
    position: absolute;
    top: 590px;
    left: 120px;
  }
  .tarjetas .card:nth-child(2) {
    position: absolute;
    top: 590px;
    right: 120px;
  }
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/sobrenos.css ***!
  \**************************************************************************************************************************/
.cabecera {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
}

.contenido img {
  width: 90vw;
  height: 200px;
  margin: 10px 12px;
}

.texto-titulo {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.texto-parrafo {
  margin: 10px 12px 12px;
}

@media (min-width: 769px) {
  .cabecera {
    margin-top: 380px;
    text-align: center;
    text-decoration: underline;
    font-size: 2.3rem;
    font-weight: bold;
  }
  .contenido {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 6span;
    grid-gap: 10px;
  }
  .contenido img {
    height: 400px;
    width: 50vw;
    position: absolute;
    right: 20px;
  }
  .texto-container {
    width: 45vw;
    margin-left: 20px;
  }
  .texto-titulo {
    margin-top: 80px;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .texto-parrafo {
    margin-top: 45px;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/institucional.css ***!
  \*******************************************************************************************************************************/
.titulo-sede {
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-weight: 600;
}

hr {
  width: 80vw;
  margin-left: 25px;
  color: darkblue;
}

.sede-info img {
  height: 80vh;
  width: 80vw;
  margin: 15px 50px 15px 50px;
}

.sede-info .sede-text {
  margin: 20px;
}

@media (min-width: 769px) {
  .titulo-sede {
    margin-top: 200px;
  }
  .sede-info img {
    height: 85vh;
    width: 85vw;
    margin: 20px 80px 20px 100px;
  }
  .sede-info .sede-text {
    margin-bottom: 50px;
    font-size: 1.8rem;
    text-align: center;
  }
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/carreras.css ***!
  \**************************************************************************************************************************/
.carreras-container {
  background-image: url(/92207bed0ea2a7125883.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carreras-titulo {
  margin: 30px 0px 30px;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  color: darkblue;
}

.tabla {
  height: 90vh;
  width: 90vw;
  margin: 12px 10px 30px 12px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .tabla {
    height: 70vh;
    width: 50vw;
    margin: 70px 20px 70px 25%;
    padding: 20px;
    text-align: center;
  }
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/noticias.css ***!
  \**************************************************************************************************************************/
@media (min-width: 769px) {
  .titulo-noticias h1 {
    margin-top: 20px;
    color: coral;
    text-align: center;
  }
  .titulo-noticias hr {
    color: darkblue;
  }
  .noticias-anuncios {
    margin: 50px 5%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
  .noticias-anuncios .card {
    max-height: 25rem;
    margin: auto;
    padding: 15px;
    border: solid 2px aqua;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(62, 61, 61);
  }
  .pagination-nav {
    margin: 50px;
  }
}
/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/inscripciones.css (1) ***!
  \***********************************************************************************************************************************/
.inscripciones-container {
  margin: auto;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.inscripciones-titulo {
  font-size: 2rem;
  color: coral;
  text-decoration: underline;
  text-align: center;
}

.requisitos-container {
  margin: 5px;
  display: block;
  align-items: center;
}

.requisitos-info {
  font-size: 1.2rem;
  text-indent: 15px;
}

.requisitos-img {
  height: 98vh;
  width: 95vw;
  margin-top: 15px;
}

.requisitos-lista {
  list-style: none;
}

.requisitos-texto {
  text-align: center;
}

.requisitos-titulo {
  text-align: center;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .requisitos-container {
    margin: 10px;
  }
  .requisitos-info {
    margin: 40px 20px 20px 40px;
    font-size: 2rem;
  }
  .requisitos-img {
    margin: 25px 10px 25px 10px;
  }
  .requisitos {
    margin: 30px 0px 30px 0px;
  }
}
/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/header.css ***!
  \************************************************************************************************************************/
.header {
  width: 100vw;
  height: 12.3vh;
}

.navbar-brand img {
  height: 45px;
  width: 60px;
}

.navbar {
  width: 100vw;
  z-index: 3;
  background-image: linear-gradient(217deg, rgba(50, 230, 250, 0.8), rgba(19, 172, 189, 0) 70.71%), linear-gradient(127deg, rgba(110, 236, 250, 0.8), rgba(142, 235, 245, 0) 70.71%), linear-gradient(336deg, rgba(23, 145, 159, 0.8), rgba(7, 96, 106, 0) 70.71%);
}

#navbarNav {
  padding-top: 15px;
}

.dropdown-menu {
  background-image: linear-gradient(127deg, rgba(110, 236, 250, 0.8), rgba(142, 235, 245, 0) 70.71%), linear-gradient(336deg, rgba(23, 145, 159, 0.8), rgba(7, 96, 106, 0) 70.71%);
}

.nav-link:hover {
  background-color: aliceblue;
  border-radius: 10px;
}

@media (min-width: 769px) {
  .header {
    height: 10.5vh;
  }
  .container-fluid {
    display: flex;
  }
  #navbarNav {
    font-size: 1.3rem;
    justify-content: end;
    margin-right: 50px;
  }
  .nav-item {
    margin-left: 50px;
  }
  .dropdown-menu {
    border-radius: 10px;
    font-size: 1.1rem;
  }
  .dropdown-item:hover {
    border-radius: 10px;
  }
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/contacto.css ***!
  \**************************************************************************************************************************/
.contacto {
  margin-top: 20px;
  padding: 5px;
}

.contacto-formulario {
  display: block;
  align-items: center;
}

.campo {
  margin: 20px;
  display: block;
  align-items: center;
}

.campo input {
  width: 90vw;
  border: solid 2px #ffffff;
  border-radius: 5px;
}

.campo input:hover {
  background-color: aqua;
  border: solid 2px coral;
}

textarea {
  width: 90vw;
  border: solid 2px #ffffff;
  border-radius: 5px;
}

textarea:hover {
  border: solid 2px coral;
  background-color: aqua;
}

.boton-enviar {
  height: 35px;
  width: 120px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 1rem;
  border: solid 2px coral;
  border-radius: 8px;
  background-color: coral;
}

.boton-enviar:hover {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
  border: solid 2px aqua;
}

@media (min-width: 769px) {
  form {
    display: flex;
    align-content: center;
  }
  .campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .campos .campo {
    display: inline-block;
  }
  .campo label {
    display: block;
  }
  .campo input {
    height: 30px;
    width: 39vw;
  }
  textarea {
    width: 88vw;
    height: 300px;
    margin: 20px 50px;
  }
}
/*!************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/footer.css ***!
  \************************************************************************************************************************/
footer {
  color: #ffffff;
  text-align: center;
  background-color: aqua;
  margin-bottom: 0;
}

.logo img {
  margin-top: 15px;
}

.copyright {
  height: 30px;
  margin-top: 35px;
  font-size: 0.7rem;
  background-color: #000;
}
